.odd,
.odd-3 {
    background-color: lightpink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.odd-3 {
    font-size: 24px;
}

#even {
    color: blue;
    font-size: 36px;
}

#even-4 {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}